.card-body {
  width: 300;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.25);
}

.card-title {
  color: #625959;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.form-inp {
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #fff;
}

.form-btn {
  border-radius: 8px;
  background: #5caaf1;
}

.loginBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* 或根據需求調整 */
  background: url("/images/background.svg") no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  .card-body {
    width: 90%;
  }
}
